@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo {
  background-image: url('/logo-min.png');
  width: '810px';
  height: '490px';
  background-repeat: no-repeat;
  background-size: 'contain'
}

.blog-header {
  background-image: url(/images/sky.webp);
  width: 100%;
  height: 490px;
  background-repeat: no-repeat;
  background-size: cover;
}

#blog-details {
  background-color: #04183a;
  color: white !important;
  padding: 12px !important;
}

#blog-details .main-link {
  color: white;
}

#blog-details h2 {
 font-size: 24px;
}

#blog-details p {
  font-size: 16px;
  margin-bottom: 16px;
}

/* #blog-details p:last-child {
  margin-bottom:40px;
} */

#blog-details .blog-item {
  padding: 16px;
  margin-bottom: 20px;
}

#blog-details .blog-item a {
  color: white;
}

#blog-details .blog-item:hover {
  background-color: #2a2a2a;
  color: white;
}

.MuiButtonBase-root {
  color: white !important;
  border: 1px solid white !important;
  font-size: 20px !important;
  margin-top: 3rem !important
}

.MuiButtonBase-root:hover {
  background-color: #ffffff !important;
  color: #04183a !important;
}


@media (max-width: 767px) {
  .logo {
    width: 100%;
    height: 125px;
    background-size: contain;
  }
}



/* Media query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 600px;
    height: 360px;
    background-size: contain;
  }
}

/* Media query for screens larger than 1023px */
@media (min-width: 1024px) {
  .logo {
    width: 810px;
    height: 490px;
    background-size: contain;
  }
}

/* Add this at the end of your CSS */
@media (hover: none) {
  #blog-details .blog-item:hover {
    background-color: none !important;
  }
}

/* Media query for small-sized screens (e.g., mobile phones) */
@media (max-width: 480px) {

  #blog-details .blog-item {
    padding: 8px;
    margin-bottom: 12px;
  }
  
  .css-1n8pt8h-MuiGrid-root>.MuiGrid-item {
    padding: 0 !important;
  }

  .css-1n8pt8h-MuiGrid-root {
    width: auto !important;
    margin-left: 0px !important;
  }

  .css-1007tex-MuiTypography-root {
    font-size: 36px !important;
  }
}